#map {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  height: 100%; 
  width: 100%;
  z-index: 1;
}

.panel-geometry {
  position: absolute;
  top: 8vh;
  left: 1vh;
  background-color: rgba(255, 255, 255, 0.91);
  width: 35vh;
  height: 45vh;
  z-index: 2;
  border-radius: 1vh;
  padding: 3vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.panel-geometry textarea {
  width: 34vh;
  height: 34vh;
}

.panel-geometry .title-hint {
  text-align: center;
}

.map-layer-switch {
  display: inline-block;
  top: 0.8vh;
  position: absolute;
  left: 6vh;
  height: auto !important;
  transition: left 0.2s ease-in-out;
  z-index: 3;
}

.map-layer-switch > div {
  width: 50px;
  height: 50px;
  padding: 0 4px;
  border: solid 2px #F1F1F1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0.9;
  color: #FFF;
  font-size: 12px;
  line-height: 72px;
  text-shadow: 1px 1px 3px #000;
  text-transform: capitalize;
}
.map-layer-switch .ol-map {
  background-image: url("../img/ol-map.png");
  background-size: 85px;
  background-position-y: 45px;
}

.map-layer-switch .satelite-map {
  background-image: url("../img/satelite-map.png");
  background-size: 85px;
  background-position-y: 25px;
}

.map-layer-switch:hover {
  opacity: 1;
}