#map {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  height: 100%; 
  width: 100%;
  z-index: 1;
}

.panel-geometry {
  position: absolute;
  top: 2vh;
  left: 5vh;
  background-color: rgba(255, 255, 255, 0.91);
  width: 35vh;
  height: 45vh;
  z-index: 2;
  border-radius: 1vh;
  padding: 3vh;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}